ANNOTATION /hpf/largeprojects/davidm/vsubasri/transposable_elements/xTea/rep_lib_annotation/LINE/hg19/hg19_L1_larger500_with_all_L1HS.out
ANNOTATION1 /hpf/largeprojects/davidm/vsubasri/transposable_elements/xTea/rep_lib_annotation/LINE/hg19/hg19_L1.fa.out
REF /hpf/largeprojects/davidm/resources/Homo_sapiens.GRCh37.75.dna_rm.primary_assembly.fa
GENE /hpf/largeprojects/davidm/vsubasri/transposable_elements/xTea/gencode.v33lift37.annotation.gff3
BLACK_LIST null
L1_COPY_WITH_FLANK /hpf/largeprojects/davidm/vsubasri/transposable_elements/xTea/rep_lib_annotation/LINE/hg19/hg19_L1HS_copies_larger_5K_with_flank.fa
SF_FLANK /hpf/largeprojects/davidm/vsubasri/transposable_elements/xTea/rep_lib_annotation/LINE/hg19/hg19_FL_L1_flanks_3k.fa
L1_CNS /hpf/largeprojects/davidm/vsubasri/transposable_elements/xTea/rep_lib_annotation/consensus/LINE1.fa
XTEA_PATH /hpf/largeprojects/davidm/vsubasri/transposable_elements/xTea/xtea/
BAM_LIST ${PREFIX}"bam_list.txt"
BAM1 ${PREFIX}"10X_phased_possorted_bam.bam"
BARCODE_BAM ${PREFIX}"10X_barcode_indexed.sorted.bam"
TMP ${PREFIX}"tmp/"
TMP_CLIP ${PREFIX}"tmp/clip/"
TMP_CNS ${PREFIX}"tmp/cns/"
TMP_TNSD ${PREFIX}"tmp/transduction/"
